.intro {
  background-image: url("../images/tan-background.png");
  padding: 20px;
  opacity: 50%
}


.main_heading {
  text-align: center;
  font-family: cursive;
  color: maroon;
  font-style: oblique;
}

.main_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    border: 2px solid maroon;
    border-radius: 60%;
    height: 15%;
    width: 15%;
}

h2 {
  text-align: center;

  font-family: cursive;
  text-decoration: underline;
  color: maroon;
}
.education {
  float: left;

  border-right: 3px solid maroon;
  margin-left: 20%;
  margin-right: 5%;
  padding-right: 5%;
}
.job_experience {
  padding-top: 0.05px;
}

.reasons {
  clear: both;
}
.projects {
  text-align: center;
}



.about_me h3 {
  margin-left: 3%;
}

footer {
  background-color: maroon;
  margin-bottom: 10px;
  padding: 5px;
  color: white;
  position: static;
  opacity: 0.8;
}
.cop {
  text-align: center;
}
.extra {
  text-align: center;
}

ol
 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
 .why{
   color: maroon;
 }
