.intro {
  background-image: url("../images/tan-background.png");
  padding: 20px;
}

.main_heading {
  text-align: center;
  font-family: cursive;
  color: maroon;
  font-style: oblique;
}

.main_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    border: 2px solid maroon;
    border-radius: 60%;
    height: 15%;
    width: 15%;
}

h2 {
  text-align: center;

  font-family: cursive;
  text-decoration: underline;
  color: maroon;
}
.projects {
  back
}
